body {
    background-color: #142d4c;
    color: #ececec;
}

div {
    margin: 20px;
}

h1 {
    color: #9fd3c7;
    margin: 25px;
}

.content-box {
    background-color: #385170;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #9fd3c7;
}

.btn-new {
    background-color: #385170;
    color: #ececec;
    border: 1px solid #9fd3c7;
}

.btn-new:hover {
    border: 1px solid #9fd3c7;
}

label {
    margin: 5px;
}